<h1 class="text">Sign in</h1>
<h6 class="color text">Need an account?</h6>
<form (ngSubmit)="onRegister()">
    <div class="form-group">
        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="UserName" required="required"
            [ngModelOptions]="{standalone: true}" [(ngModel)]="register.user.username">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email" required="required"
            [ngModelOptions]="{standalone: true}" [(ngModel)]="register.user.email">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required="required"
            [ngModelOptions]="{standalone: true}" [(ngModel)]="register.user.password">
    </div>

    <button type="submit" class="btn btn-success">Sign In</button>
</form>