.wapper{
    margin-top:50px;
}
h1{
    color:red;
}
.title{
    font-size:2em;
    font-weight: normal;
}
.pagination{
    flex-wrap: wrap;
}   
.page-link{
    float:left;
}
.page-item{
    float:left; 
}
.right{
    max-width: 0%;
}
.tag-list{
    flex-wrap: wrap;
    display: flex;
}
.tag{
    border-radius: 50%;
    padding:5px;
    background-color:#818a91;
    color: beige;
}